@import "./assets/color";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
// change the theme


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.text-black {
  color: $black;
 }
 .cancel{
  padding: 2px 4px ;
  border-radius: 50%;


 }
.cancel:hover{
  background-color: #c1c1c1;
  transition: 0.5s;
  cursor: pointer;
}
.border{
  border: 2px solid #c1c1c1;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}